/* Carousel alanı için stil */
.carousel-container {
    margin-top: 20px; /* Navbar'ın altında boşluk oluştur */
    position: relative;
    margin-bottom: 20px;
}

/* Geçiş oklarının stilini ve konumunu düzenleme */
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    position: absolute;
    top: 50%; /* Dikeyde ortala */
    transform: translateY(-50%); /* Dikine ortala */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

/* Okların kenarları daha belirgin olması için */
.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    filter: invert(1); /* Rengi beyaz yapar */
    width: 20px;
    height: 20px;
}

/* Okları slaytın kenarlarına daha yakın yap */
.carousel .carousel-control-prev {
    left: -20px; /* Daha kenara yaklaştır */
}

.carousel .carousel-control-next {
    right: -20px; /* Daha kenara yaklaştır */
}

/* Slayt gösterge işaretleri (indicators) stil ayarı */
.carousel .carousel-indicators {
    bottom: -40px; /* Göstergeleri biraz aşağı al */
    z-index: 1;
}

.carousel .carousel-indicators li {
    background-color: #007bff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel .carousel-indicators .active {
    background-color: #007bff;
}